//Footer
.footer-main {
  position: relative;
  background-color: #ffffff;
  padding: 24px 0 98px 0;
  background-image: url("../img/footer-back.png");
  @include back-img;
}
.menu-border-top {
  padding-top: 10px;
}
footer {
  li {
	position: relative;
	display: flex;
	margin-bottom: 5px;
	a, .fax-item {
	  font-size: size(16);
	  line-height: size(20);
	  position: relative;
	  color: #000000;
	  transition: color ease-out .5s;
	}
	a:hover {
	  color: $orange-main;
	  cursor: pointer;
	}
  }
  .contact-list li a, .contact-list li .fax-item {
	display: flex;
	align-items: flex-start;
	margin-bottom: 5px;
  }
}
.two-columns {
  column-count: 2;
  column-gap: 1rem;
}
.contact-menu-foo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.logo-footer {
  margin-top: size(95);
  img {
	max-height: size(115);
  }
}
.product-tel-link, .form-wrapper-foo {
  box-shadow: 0 5px 20px 4px rgba(0, 178, 226, 0.15);
  border-radius: 10px;
  background-color: #ffffff;
}
.form-wrapper-foo {
  padding: size(20) size(55) 0 size(55);
  margin-bottom: size(61);
  .block-subtitle {
	margin-bottom: size(19);
  }
  @media (max-width: 576px) {
	padding: size(20) size(20) 0 size(20);
  }
}
#go-top {
  position: absolute;
  top: size(65);
  right: 10%;
  @include d-center;
  flex-direction: column;
  cursor: pointer;
  z-index: 999;
}
.go-top-wrap {
  @include d-center;
  width: size(62);
  height: size(62);
  background-image: url("../iconsall/to-top.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.go-top-arrow {
  width: size(25);
  animation: jump-top 1.2s ease-in-out alternate infinite;
}
.to-top-text, .foo-title {
  margin-top: size(15);
  @include h4;
  font-weight: 600;
  color: $orange-main;
}
.to-top-text {
  text-align: center;
}
