//Form styles
.wpcf7-form {
  * {
	direction: rtl !important;
  }
  ::placeholder {
	@include input-text;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	@include input-text;
  }
}
div.wpcf7 input,
div.wpcf7 textarea, .textarea-form,
div.wpcf7 select, .woocommerce-checkout .woocommerce input, .woocommerce-checkout .woocommerce textarea, .woocommerce-checkout .woocommerce .select2-container {
  @include input-text;
  @include input-style;
}
.woocommerce-checkout .woocommerce input {
  padding: 5px 12px !important;
}
.woocommerce-checkout .woocommerce .select2-container {
  padding: 0 !important;
}
.woocommerce-checkout .woocommerce .woocommerce-input-wrapper:last-child {
  flex-grow: 1;
}
.woocommerce-checkout .woocommerce .form-row {
  display: flex;
  flex-direction: column;
}
.woocommerce-checkout .woocommerce label {
  margin-left: 10px;
}
//div.wpcf7 select {
//  -webkit-appearance: none;
//  background-image: url("../iconsall/form-select.png");
//  padding-right: size(11);
//  padding-left: size(42);
//  background-position: 15px center;
//  background-size: size(22);
//}
div.wpcf7 textarea, .textarea-form, .woocommerce-checkout textarea {
  height: size(128);
  background-image: url("../iconsall/form-textarea.png");
  background-position: calc(100% - 16px) 6px;
  padding-top: size(17);
  background-size: size(38);
}
.textarea-form {
  background-image: url("../iconsall/form-textarea-orange.png");
  border: 3px solid $orange-main;
  height: size(205);
  &::placeholder {
	color: $orange-main;
  }
}
div.wpcf7 input[type="text"] {
  background-image: url("../iconsall/form-name.png");
  background-size: size(22);
  background-position: calc(100% - 24px) center;
}
div.wpcf7 input[type="tel"] {
  background-image: url("../iconsall/form-tel.png");
  background-size: size(34);
}
div.wpcf7 input[type="email"] {
  background-image: url("../iconsall/form-mail.png");
  background-position: calc(100% - 16px) center;
  background-size: size(41);
}
div.wpcf7 input[type="submit"] {
  @include input-text;
  @include submit-style;
  line-height: 0.8rem;
}
.form-title {
  @include h2;
}
.form-title {
  color: $orange-main;
  font-weight: 500;
}
.form-subtitle {
  @include h4;
  color: $blue-main;
  font-weight: 500;
  margin-bottom: size(24);
}
.float-form {
  transition: all .5s;
  transform: translateY(-100%);
  opacity: 0;
  width: size(561);
  &.show-float-form {
	opacity: 1;
	transform: translateY(0);
  }
  @media (max-width: 576px) {
	width: auto;
  }
  div.wpcf7 input[type="submit"] {
	width: size(152);
  }
}
.form-wrapper {
  box-shadow: 0 5px 20px 4px rgba(0, 178, 226, 0.15);
  border-radius: 10px;
  background-color: #ffffff;
  padding: size(51) size(51) size(10) size(51);
  @media (max-width: 500px) {
	padding: size(41) size(21) size(10) size(21);
  }
}
.close-form {
  position: absolute;
  z-index: 8;
  left: 12px;
  top: 12px;
}
