#MainNav{
  ul{
	display: flex;
	height: 100%;
	li{
	  @include d-center;
	  margin: 0 12px;
	  a{
		@include d-center;
		text-align: center;
		@include h6;
		color: #000000;
		transition: color ease-out .5s;
		&:hover {
		  color: $orange-main;
		}
	  }
	}
  }
}
header {
  max-height: size(72);
  box-shadow: 0 5px 20px 4px rgba(0, 178, 226, 0.1);
  background-color: #ffffff;
  padding: size(11) 0;
  &.fixed {
	padding: size(6) 0;
	max-height: size(60);
  }
  .primary-button {
	height: size(48);
	padding: 5px size(25);
	@media (max-width: 450px) {
	  display: none;
	}
  }
  @media (max-width: 450px) {
	padding-right: 50px;
  }
}
.pop-trigger {
  position: fixed;
  left: 11px;
  bottom: 5%;
  z-index: 99999;
  @include d-center;
  padding: size(11);
  width: size(63);
  height: size(63);
  border-radius: 10px;
  background-color: $blue-main;
  transition: background-color ease-out .5s;
  &:hover {
	background-color: $orange-main;
  }
  @media (max-width: 576px) {
	width: size(45);
	height: size(45);
  }
}
.logo {
  @include d-center;
  img {
	max-height: size(44);
  }
}
.pop-great {
  position: fixed;
  @include d-center;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 990099;
  opacity: 0;
  transition: opacity ease-out .5s;
  pointer-events: none;
  &.show-pop {
	opacity: 1;
	pointer-events: all;
  }
}
.user-link, .cart-btn-header {
  @include d-center;
  width: size(48);
  height: size(48);
  border-radius: 10px;
  background-color: $blue-main;
  padding: 9px;
  margin: 0 size(10);
  transition: background-color ease-out .5s;
  &:hover {
	background-color: $orange-main;
  }
  img {
	width: size(23);
  }
}
.cart-btn-header {
  background-color: $orange-main;
  &:hover {
	background-color: $blue-main;
  }
}
