.faq {
  padding: size(70) 0;
  .card {
	border: none !important;
  }
  .question-card {
	margin-bottom: 30px;
  }
  .answer-body {
	padding: 21px size(59) 0 8%;
  }
  button:focus {
	box-shadow: 0 5px 20px 4px rgba(0, 178, 226, 0.15) !important;
  }
}
.question-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: size(48);
  border: none;
  box-shadow: 0 5px 20px 4px rgba(0, 178, 226, 0.15);
  border-radius: 10px;
  background-color: #ffffff;
  padding: size(10) size(22) size(10) size(42);
  text-align: right;
  @include h4;
  color: $blue-main;
  @media (max-width: 576px) {
	@include h5;
  }
}
.question-header {
  border-radius: 0;
  background-color: transparent;
}
.question-icon {
  @include h2;
  color: $orange-main;
  margin-left: 17px;
  font-weight: 500;
}
.faq-arrow {
  position: absolute;
  left: 14px;
  width: size(26);
  transition: transform ease-out .5s;
  &.swap {
	transform: rotate(180deg);
  }
  @media (max-width: 576px) {
	width: size(16);
  }
}
//Slider
.arrows-slider {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	width: size(48);
	height: size(48);
	z-index: 33;
	border-radius: 10px;
	border: 3px solid #00b2e2;
	background-color: #ffffff;
	background-position: center;
	background-repeat: no-repeat;
	background-size: size(15);
  }
  [dir="rtl"] .slick-next {
	background-image: url("../iconsall/arrow-left.png");
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/arrow-right.png");
  }
  .slick-prev:before, .slick-next:before {
	color: transparent;
  }
}
.arrows-slider-base {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	top: unset;
	bottom: -3rem;
  }
  [dir="rtl"] .slick-next {
	left: unset;
	right: 3rem;
  }
  [dir="rtl"] .slick-prev {
	right: 0;
  }
}
.base-slider-block {
  position: relative;
  padding: size(63) 0;
}
.slider-img-col {
  position: relative;
  @include d-center;
  padding: 9.78% 9px 6.18% 5.18%;
  background-image: url("../img/slider-back-light.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  @media (max-width: 992px) {
	margin-top: 3rem;
  }
  @media (max-width: 768px) {
	padding: 18.78% 9px 12.18% 10.18%;
  }
}
.reverse-slider {
  .reverse-slider-row {
	flex-direction: row-reverse;
  }
  .slider-img-col {
	padding: 6.57% 5.18% 9.88% 12px;
	background-image: url("../img/slider-back-dark.png");
	@media (max-width: 992px) {
	  margin-top: 3rem;
	  padding: 10.57% 10.18% 17.28% 12px;
	}
  }
}
.bottom-slider-arrows {
   [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	 top: unset;
	 bottom: -5rem;
   }
   [dir="rtl"] .slick-next {
	 left: calc(50% - 2.5rem);
	 right: unset;
   }
   [dir="rtl"] .slick-prev {
	 right: calc(50% - 2.5rem);
   }
 }
.home-video-slider {
  .slider-img-col {
	display: block;
	background-image: url("../img/video-slider-back.png");
	padding: 12.15% 14.72% 12.18% 8.32%;
	margin: 40px 0 !important;
  }
  .slider-video-inside {
	//height: 400px;
	//&:after {
	//  padding-bottom: 0;
	//}
  }
}
.slider-video-inside {
  @include back-img;
  width: 100%;
  border-radius: 10px;
  position: relative;
  &:after {
	display: block;
	content: '';
	padding-bottom: 57.06%;
  }
}
.play-video {
  @include overlay;
  @include d-center;
  cursor: pointer;
  img {
	width: 9%;
  }
}
//Post card
.col-post {
  padding: 0 6px;
  margin-bottom: 17px;
  @media (max-width: 768px) {
	padding: 0 15px;
  }
}
.post-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: size(20);
  height: 100%;
  box-shadow: 0 5px 20px 4px rgba(0, 178, 226, 0.15);
  border-radius: 10px;
  background-color: #ffffff;
  transition: box-shadow ease-out .5s;
  &:hover {
	box-shadow: 0 5px 20px 4px rgba(0, 178, 226, 0.45);
  }
}
.post-card-image, .product-card-image {
  @include d-center;
  position: relative;
  border-radius: 10px;
  background-color: #e0e0e0;
  @include back-img;
  width: 100%;
  margin-bottom: 17px;
  &:after {
	display: block;
	content: '';
	padding-bottom: 66.75%;
  }
}
.post-card-title, .woocommerce-loop-product__title {
  display: flex;
  @include h4;
  color: $blue-main !important;
  margin-bottom: 7px;
  margin-top: 14px;
  @media (max-width: 1600px) {
	@include h5;
  }
}
.woocommerce-loop-product__title {
  margin: 0;
}
.post-card-content {
  flex-grow: 1;
}
.price-title, .woocommerce div.product p.price, .woocommerce div.product span.price {
  @include base-text;
  color: $orange-main;
  margin-top: 8px;
  font-weight: 700;
  margin-bottom: 9px;
  bdi {
	text-decoration: none;
	margin: 0 4px;
  }
  ins {
	text-decoration: none;
  }
}
.product-card-image {
  position: relative;
  @include d-center;
  overflow: hidden;
  img {
	position: absolute;
	min-width: 100%;
	max-width: unset;
	min-height: 100%;
	transition: transform ease-out .5s;
  }
  &:hover img {
	transform: scale(1.1, 1.1);
  }
}
.put-video-here {
  @include overlay;
  z-index: -1;
  overflow: hidden;
  iframe {
	width: 100%;
	height: 100%;
	border-radius: 10px;
  }
  &.show {
	z-index: 999999;
  }
}
//Process block
.process-col {
  margin-bottom: size(53);
}
.process-title-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 6px 0 5%;
  margin-bottom: size(23);
  @media (max-width: 1200px) {
	padding: 0 6px;
  }
}
.process-title {
  @include h3;
  color: $blue-main;
}
.number-wrapper, .contact-icon-wrap {
  @include d-center;
  width: size(62);
  min-width: size(62);
  height: size(62);
  margin-left: size(17);
  background-image: url("../iconsall/tooth.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  @include h2;
  color: #ffffff;
  text-align: center;
}
//Top block everywhere
.top-block {
  padding: size(61) 0 size(37) 0;
  background-image: url("../img/top-back.png");
  @include back-img;
}
//Gallery post page
.gallery-top-item {
  position: relative;
}
.gallery-row {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.gallery-col-pad {
  padding: 5px;
}
.gallery-list-item {
  position: relative;
  width: 100%;
  @include d-center;
  @include back-img;
  border-radius: 10px;
  background-color: #ffffff;
  &:after {
	display: block;
	content: '';
	padding-bottom: 60%;
  }
}
.gallery-col {
  flex: 0 0 33.3%;
  max-width: 33.3%;
  padding: 5px;
}
.put-image-here {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  @include back-img;
  border-radius: 10px;
  opacity: 0;
  transition: opacity, background-image .5s;
  &.show-img {
	z-index: 994999494;
	opacity: 1;
	transition: opacity, background-image .5s;
  }
}
.sticky-col {
  position: sticky;
  top: 0;
}
.share-item {
  @include d-center;
  margin-left: 12px;
  width: size(35);
  height: size(34);
  border-radius: 5px;
  background-color: $blue-main;
  padding: 3px 7px;
  transition: background-color ease-out .5s;
  &:hover {
	background-color: $orange-main;
  }
}
.share-item-file, .share-items-line {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
//Video
.video-modal {
  .modal {
	z-index: 9999999999999999999999;
  }
  .modal-body {
	position: relative;
	padding: 0;
  }
  .modal-content {
	background: none;
	border: none;
  }
  .modal-backdrop {
	z-index: 10;
  }
  .close {
	position: absolute !important;
	top: -50px;
	right: -50px;
	width: 50px;
	height: 50px;
  }
  .modal .close-icon {
	padding: 0;
	margin: 0;
	@include d-center;
  }
  .modal-body{
	iframe{
	  width: 100%;
	  height: 500px;
	  position: relative;
	}
  }
}
//Offer block
.offer-back {
  position: relative;
  padding: size(170) 0 size(60) 0;
  background-image: url("../img/footer-back.png");
  @include back-img;
}
.offer-image-block {
  position: absolute;
  height: 100%;
  top: 0;
  width: 100%;
  overflow: hidden;
}
.offer-wrapper {
  box-shadow: 0 5px 20px 4px rgba(0, 178, 226, 0.15);
  border-radius: 10px;
  background-color: #ffffff;
  padding: 40px size(50);
  .row {
	position: relative;
	z-index: 3;
  }
  .block-subtitle {
	margin-bottom: size(10);
  }
}
.offer-img-col {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  img {
	position: relative;
	z-index: 4;
	//min-width: 100%;
	//max-height: 100%;
  }
}
//Reviews
//Reviews popup
.reviews-block {
  margin: 0 0 size(80) 0;
  padding-top: size(150);
  .slick-slider .slick-track, .slick-slider .slick-list {
	display: flex !important;
  }
}
.hidden-review {
  display: none;
  box-shadow: 0 5px 20px 4px rgba(0, 178, 226, 0.15);
  border-radius: 10px;
  background-color: #ffffff;
  padding: 15px;
}
#reviewsModal {
  .modal-content {
	border: none;
	border-radius: size(0);
  }
}
#reviews-pop-wrapper {
  z-index: 2222;
}
#reviewsModal {
  .modal-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
  }
  .modal-content .close {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 9999;
	cursor: pointer;
	top: 10px;
	right: 10px;
	background-color: transparent;
	.fa-times {
	  color: #ffffff;
	  font-size: 2rem;
	}
  }
}
.modal {
  z-index: 99999;
}
.rev-pop-trigger {
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  z-index: 6;
  img {
	width: size(26);
	@media (max-width: 1600px) {
	  width: size(18);
	}
  }
}
.review-title {
  @include base-text;
  color: $orange-main;
  font-weight: 700;
  margin-bottom: size(10);
}
