/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {}
/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {}


//Bootstrap 4 breakpoints
@media (min-width: 1600px) {
  .col-xxl-6 {
	flex: 0 0 50%;
	max-width: 50%;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html{
    font-size: 22px;
  }
  .container {
	max-width: 60%;
  }
}

/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
  html{
    font-size: 20px;
  }
  #go-top {
	top: -2rem;
	right: 5%;
  }
  footer {
	margin-top: 3rem;
  }
  .footer-main {
	padding-top: 3.5rem !important;
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  html{
    font-size: 19px;
  }
  .video-modal {
	.modal-body {
	  iframe {
		height: 400px;
	  }
	}
  }
  .sticky-col-product {
	order: -1;
	margin-bottom: 1rem;
  }
}
/* Medium devices (tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  html{
    font-size: 18px;
  }
  .foo-contact-menu {
	order: 2;
  }
  .foo-menu-links {
	order: 3;
	margin-top: 2rem;
  }
  .contact-col {
	order: -1;
  }
}
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  html{
    font-size: 17px;
  }
  #go-top {
	right: 50%;
	left: 50%;
  }
  .video-modal {
	.modal-body {
	  iframe {
		height: 300px;
	  }
	}
	.close {
	  top: -40px;
	  right: -10px;
	}
  }
  .offer-image-block {
	display: none;
  }
  .offer-wrapper {
	.block-subtitle {
	  text-align: center;
	}
  }
  .col-button-row {
	justify-content: center;
  }
}







/*
::::: Custom media queries :::::
*/

@media (max-width: 450px) {
  .video-modal {
	.modal-body {
	  iframe {
		height: 250px;
	  }
	}
  }
}
