.product-text-output {
  li {
	font-weight: 400 !important;
	list-style: disc;
	margin-bottom: 5px !important;
  }
}
.bordered-data {
  padding-bottom: 16px;
  margin-bottom: 12px;
  border-bottom: 1px solid #000000;
  border-radius: 1px;
}
.woocommerce div.product form.cart div.quantity {
  display: none;
}
.woocommerce-message {
  border-top-color: $blue-main;
}
.woocommerce-error::before, .woocommerce-info::before, .woocommerce-message::before {
  color: $orange-main;
}
.woocommerce-error, .woocommerce-info, .woocommerce-message {
  border-top: 3px solid $orange-main;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
  background-color: $orange-main;
  border-radius: 10px;
}
.cart_totals h2, #order_review_heading, .woocommerce-additional-fields h3, .woocommerce-billing-fields h3 {
  @include h2;
  color: $orange-main;
  margin-bottom: 10px;
}
.woocommerce-cart-form {
  margin-bottom: 2rem;
}
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
  background-color: $blue-main;
}
.woocommerce div.product form.cart .single_add_to_cart_button {
  background-image: url("../iconsall/basket.png");
  background-position: 20px center;
  background-repeat: no-repeat;
  background-size: size(27);
  padding: size(15) size(30) size(15) size(81);
  margin-top: 8px;
}
.price-total-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 12px;
}
.regular-price-title {
  @include h6;
  font-weight: 400;
  color: #000000;
}
.sale-price-title {
  @include h5;
  color: $blue-main;
}
.woocommerce .woocommerce-ordering select, .select-sort {
  -webkit-appearance: none;
  width: size(239);
  height: size(38);
  border-radius: 10px;
  border: 2px solid $blue-main;
  background-color: #ffffff;
  @include base-text;
  color: $blue-main;
  background-image: url("../iconsall/select.png");
  background-size: size(17);
  background-position: size(16) center;
  background-repeat: no-repeat;
  padding: 5px size(16) 5px size(35);
}
