@import "mixins";
@import "reset";
@import "fonts";
@import "vars";
@import "colors";
@import "setup";
@import "hover";
@import "animate";
@import "partials";
@import "header";
@import "forms";
@import "shop-styles";
@import "footer";

body{
  font-family: $rubik;
  text-align: right;
}
.wow {
  visibility: hidden;
}
//Basic styles
.block-title {
  @include h2;
  color: $blue-main;
  margin-bottom: size(7);
}
.block-subtitle, .contact-type {
  @include h4;
  color: $orange-main;
  margin-bottom: size(36);
}
.subtitle-blue {
  color: $blue-main;
}
.base-text {
  @include base-text;
}
.base-output {
  h1, h2, h3, h4, h5, h6 {
	color: $blue-main;
	margin-bottom: size(18);
	font-weight: 500;
  }
  h1 {
	@include h1;
  }
  h2 {
	@include h2;
  }
  h3 {
	@include h3;
  }
  h4 {
	@include h4;
  }
  h5 {
	@include h5;
  }
  h6 {
	@include h6;
  }
  p, li {
	@include base-text;
  }
  p {
	margin-bottom: size(30);
  }
  img {
	width: 100%;
	margin: 1rem 0;
  }
  li {
	font-weight: 700;
	margin-bottom: size(18);
  }
  ul {
	list-style: url("../iconsall/list.png");
	margin: 0 1rem;
  }
}
.about-img-col {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @media (max-width: 992px) {
	order: -1;
	margin-bottom: 2rem;
  }
}
.main-output {
  h1, h2 {
	color: $blue-main;
  }
  h3, h4, h5, h6 {
	color: $orange-main;
  }
}
.pb80 {
  padding-bottom: size(80);
}
.main-img-col {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.base-link {
  @include d-center;
  @include base-text;
  color: $blue-main !important;
  font-weight: 700;
  background-image: url("../iconsall/arrow-link.png");
  background-position: 5px center;
  background-repeat: no-repeat;
  background-size: 6px;
  padding-left: 18px;
  transition: background-position ease-out .5s;
  &:hover {
	background-position: left center;
  }
}
.post-card-link {
  background-image: url("../iconsall/arrow-link-orange.png");
  color: $orange-main !important;
  margin-top: size(19);
}
.primary-button {
  @include d-center;
  @include base-text;
  color: #ffffff !important;
  font-weight: 700;
  border-radius: 10px;
  padding: size(16) size(24);
  background-color: $orange-main;
  transition: background-color ease-out .5s;
  &:hover {
	background-color: $blue-main;
  }
}

//Homepage styles
.home-posts {
  padding-top: 50px;
}
.home-products-block, .process-block-home, .product-service_block {
  background-image: url("../img/footer-back.png");
  @include back-img;
}
.posts-output {
  padding: size(55) 0;
}
//Process homepage block
.process-block-home {
  padding-top: size(73);
}
//Reviews
.reviews-block {
  padding: size(140) 0 size(60) 0;
}
.about-home {
  margin: size(100) 0 size(50) 0;
  h3, h4, h5, h6 {
	color: $orange-main;
  }
}
.main-home-block {
  @include back-img;
  background-image: url("../img/home-back.png");
  padding-top: 40px;
}
//Product service
.product-service_block {
  padding: size(61) 0 size(48) 0;
  .block-title {
	color: $orange-main;
  }
}
.prices-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: size(25);
}
.service-price-regular, .service-price-sale {
  @include h3;
}
.service-price-regular {
  color: #000000;
  font-weight: 300;
  text-decoration: line-through;
  margin-left: 12px;
}
.service-price-sale {
  color: $blue-main;
}
.service-page {
  .process-title {
	color: $orange-main;
  }
}
.product-tel-link {
  @include d-center;
  padding: size(18) size(20) size(18) size(40);
  transition: box-shadow ease-out .5s;
  margin-bottom: 31px;
  .tel-num {
	@include h3;
	color: $blue-main !important;
  }
  .block-subtitle {
	margin-bottom: 0;
	color: $orange-main !important;
	margin-left: 12px;
  }
  &:hover {
	box-shadow: 0 5px 20px 4px rgba(0, 178, 226, 0.75);
  }
}
//Benefits
.benefits-block {
  margin: size(45) 0;
}
.benefit-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.benefit-icon-wrapper {
  @include d-center;
  width: size(177);
  height: size(144);
  border-radius: 10px;
  background-color: $blue-main;
  margin-bottom: size(20);
  img {
	max-height: size(122);
  }
}
//Service reviews block
.service-review-block {
  margin: 100px 0;
  .block-title {
	color: $orange-main;
	text-align: center;
	margin-bottom: size(31);
  }
}
.more-link {
  @include d-center;
  background-color: $blue-main;
  @include base-text;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  border-radius: 10px;
  padding: size(15) size(20);
  transition: background-color ease-out .5s;
  img {
	width: size(17);
	margin-right: size(14);
  }
  &:hover {
	background-color: $orange-main;
  }
  &.hide {
	display: none;
  }
}
.gallery-col-product {
  flex: 0 0 25%;
  max-width: 25%;
  @media (max-width: 1200px) {
	flex: 0 0 33.3%;
	max-width: 33.3%;
  }
  @media (max-width: 768px) {
	flex: 0 0 50%;
	max-width: 50%;
  }
}
//Contact page
.base-contact-title {
  @include h6;
  color: $blue-main;
  margin-bottom: 2px;
}
.contact-item {
  display: flex;
  justify-content: flex-start;
  margin-bottom: size(44);
  .contact-icon-wrap {
	padding: size(9) size(14) size(17) size(14);
  }
}
//QUIZ
.quiz-item-block {
  position: relative;
  padding: size(45) 0 size(100) 0;
  &.showed-item {
	.quiz-item {
	  z-index: 999;
	}
	.quiz-overlay {
	  opacity: 0;
	}
  }
}
.quiz-item {
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px 4px rgba(0, 178, 226, 0.15);
  border-radius: 10px;
  background-color: #ffffff;
  padding: size(60) size(45) size(26) size(25);
  &.pad-left {
	padding-left: size(200) !important;
	@media (max-width: 768px) {
	  padding-left: 100px !important;
	}
	@media (max-width: 450px) {
	  padding-left: 40px !important;
	}
  }
  input[type="radio"] {
	opacity: 0;
	@include overlay;
	z-index: 4;
  }
}
.quiz-overlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 6;
}
.question-quiz {
  @include h2;
  color: $blue-main;
  margin-bottom: size(20);
}
.quiz-icon {
  @include d-center;
  position: absolute;
  left: size(25);
  bottom: size(25);
  img {
	max-width: 120px;
  }
  @media (max-width: 768px) {
	img {
	  max-width: 60px;
	}
  }
  @media (max-width: 450px) {
	left: 8px;
	bottom: 8px;
	img {
	  max-width: 30px;
	}
  }
}
.answer-button {
  position: relative;
  z-index: 3;
  @include d-center;
  width: size(75);
  height: size(70);
  @include h2;
  border-radius: size(10);
  border: 3px solid $orange-main;
  background-color: #ffffff;
  color: $orange-main;
  margin-left: 15px;
  &.active {
	background-color: $orange-main;
	color: #ffffff;
  }
}
.buttons-group {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  @media (max-width: 768px) {
	flex-wrap: wrap;
  }
}
.icon-radio {
  width: auto;
  height: size(66);
  background-color: #a4ecff;
  flex: 0 0 25%;
  max-width: 25%;
  padding: size(13) size(30);
  margin-bottom: 1rem !important;
  @media (max-width: 768px) {
	margin-bottom: 2rem !important;
	flex: 0 0 calc(50% - 30px);
	max-width: calc(50% - 30px);
	padding: size(8) size(13);
  }
  &:after {
	@include h5;
	color: $orange-main;
	text-align: center;
	position: absolute;
	top: calc(100% + 9px);
  }
  &.first {
	&:after {
	  content: 'קל';
	}
  }
  &.second {
	&:after {
	  content: 'בינוני';
	}
  }
  &.third {
	&:after {
	  content: 'קשה';
	}
  }
  &.fourth {
	background-color: #ffffff;
  }
}
.line-buttons-area {
  margin-left: 30px;
  @media (max-width: 768px) {
	flex-wrap: wrap;
	margin-left: 0;
  }
  transition: height, opacity ease-out .5s;
  .answer-button {
	text-align: center;
	height: unset;
	min-height: size(70);
	color: $orange-main;
	background-color: #ffffff;
	flex: 0 0 33.3%;
	max-width: 33.3%;
	padding: size(10) size(15);
	&:last-child {
	  margin-left: 0;
	}
	&.active {
	  background-color: $orange-main;
	  color: #ffffff;
	}
	@media (max-width: 768px) {
	  flex: 0 0 100%;
	  max-width: 100%;
	  margin-left: 0;
	}
  }
}
.hidden-options {
  opacity: 0;
  height: 0;
}
.checkbox-label-custom {
  @include h2;
  color: $orange-main;
  margin-right: 15px;
}
.checkbox-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: size(26);
  input[type="checkbox"] {
	width: size(27);
	min-width: size(27);
	height: size(27);
	border-radius: 3px;
	border: 3px solid $orange-main;
	background-color: #ffffff;
  }
}
.quiz-container {
  background-image: url("../img/faq-back.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
//Process form finished
.process-form-block {
  position: relative;
  margin: size(70) 0;
  .form-wrapper {
	position: relative;
	z-index: 3;
  }
}
.process-back {
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom: 22px;
  right: 0;
  width: 100%;
  height: calc(100% - 100px);
  @include back-img;
  background-image: url("../img/footer-back.png");
  .container {
	height: calc(100% + 3rem);
  }
}
.answers-received-col {
  display: none;
}
.col-form-img {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: calc(100% + 3rem);
  img {
	height: 100%;
  }
}
.slider-gallery-service {
  [dir="rtl"] .slick-next, [dir="rtl"] .slick-prev {
	top: -1.35rem;
  }
  [dir="rtl"] .slick-prev {
	right: 0;
  }
  [dir="rtl"] .slick-next {
	left: 0;
  }
}
.big-slider-item, .thumb-item {
  position: relative;
  @include d-center;
  @include back-img;
  border-radius: 10px;
  width: 100%;
  &:after {
	display: block;
	content: '';
	padding-bottom: 83.52%;
  }
}


@import "responsive";
